h1 {
    border-bottom: 1px solid rgba(174, 174, 174, 0.718);
    padding-bottom: 0.5em;
}

input {
    background-color: grey;
    border: none;
}

#english {
    border: 1px solid white;
    text-decoration: none;
    color: white;
    background-color: black;
}

#dropdown {
    border-bottom: 1px solid grey;
    padding-bottom: 1em;
}

#mezzo {
    padding: 0;
}

#maturity {
    border: none;
    font-weight: 500;
    color: white;
    font-size: small;
}

#edit {
    border: 1px solid white;
    text-decoration: none;
    color: white;
    background-color: black;
}