/* IMPORT */
@import '../mixins/mixins';

/* VARIABILI */
$colore-testi: white;
$bottone-azzurro: #0e6cff;
$bottone-arancione: #ff8700;
$bottone-verde: #4caf50;

body {
    @include titoli;
}

header {
    background-color: #640fc5;
}

nav {
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-weight: 700;
}

nav, .navlinks {
    display: flex;
}

.navlinks {
    color: $colore-testi;
    list-style: none;
    padding-left: 0;
    margin-right: 4em;
}

.navlinks li {
    padding: 1em;
}

.navbar-brand, .lorem, .bottone {
    margin-left: 4em;
}

h1 {
    margin-left: 4rem;
    width: 30%;
    font-size: 50px;
    line-height: 0.9;
    letter-spacing: -1.5px;
    margin-bottom: 0;
}

.lorem {
    color: $colore-testi;
    width: 50%;
}

h1, .lorem {
    opacity: 0.6;
}

.pcHeader {
    width: 15%;
    border-radius: $radius;
}