<div class="container p-5 mt-4 mb-4 bg-body-tertiary rounded-3 text-center">
    <img src="../../../assets/img/logo.png" alt="logo" />
    <h1 class="display-5">Il tuo autosalone di fiducia</h1>
</div>

<div class="container text-center">
    <h4>I nostri marchi</h4>
    <div class="d-flex justify-content-around">
        <img src="https://upload.wikimedia.org/wikipedia/it/thumb/9/9e/Logo_della_Fiat.svg/640px-Logo_della_Fiat.svg.png"
            alt="Photo" width="150" height="150">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Ford_logo_flat.svg/1280px-Ford_logo_flat.svg.png"
            alt="Photo" width="150" height="50" class="mt-5">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Audi-Logo_2016.svg/640px-Audi-Logo_2016.svg.png"
            alt="Photo" width="250" height="100" class="mt-4">
        <img src="https://upload.wikimedia.org/wikipedia/it/thumb/0/04/Logo_della_Ferrari_S.p.A..svg/300px-Logo_della_Ferrari_S.p.A..svg.png"
            alt="Photo" width="100" height="150">
    </div>
</div>

<hr />


    <h4 class="text-center">Auto in evidenza</h4>
<app-evidence></app-evidence>
