<div class="container p-5 mt-4 mb-4 bg-body-tertiary rounded-3 text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Audi-Logo_2016.svg/640px-Audi-Logo_2016.svg.png" alt="logo" />
    <h1 class="display-5">Le nostre auto <span class="fw-bold">Audi</span></h1>
</div>

<div class="card" style="width: 18rem;" *ngFor="let car of cars">
    <img [src]="" class="card-img-top" [alt]="">
    <div class="card-body">
        <h5 class="card-title"></h5>
        <span
                class="badge bg-primary me-1 text-uppercase m-1"
                >Anno: </span
            >
            <span
                class="badge bg-primary me-1 text-uppercase m-1"
                >Prezzo: </span
            >
            <span
                class="badge bg-primary me-1 text-uppercase m-1"
                >Pronta consegna: </span
            >
        <a href="#" class="btn btn-primary mt-3">Tutte le nostre </a>
    </div>
</div>