<div class="bg-body-tertiary container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="../../../assets/img/logo.png" alt="logo" />
            <h6>Il tuo autosalone di fiducia</h6>
            <p>Via Tal dei Tali 25</p>
            <p>00100 Torino</p>
            <p>☎️ - 📠 0012345678</p>
            <p>📧 info@autorent.auto</p>
        </div>
        <div class="col-4 d-flex">
            <ul class="d-flex">
                <li>
                    <a class="nav-link" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['fiat']">Fiat</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['ford']">Ford</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['audi']">Audi</a>
                </li>
                <li>
                    <a class="nav-link" [routerLink]="['ferrari']">Ferrari</a>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam magnam nemo quidem saepe, delectus ex mollitia vel quam temporibus ratione veniam officiis id maiores eaque, debitis aut. Iste, ipsa mollitia.</p>
        </div>
    </div>
</div>